*, *:after, *:before {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
}
.moi {
  background-color: rgb(2, 28, 85) ;
  
}

.blue {
  background: #071A33;
  color: #fff; 
}
.navbar {
  padding: 10px 10%;
} 
#logo {
  display: inline-block;
  margin-top: 7px;
  color: #fff;
}
#link {
  color: #fff;
  font-weight: bold;
  margin: 0 10px;
}
i { margin: 0 7px; }
#sidebarCollapse {
  color: #fff;
  background: transparent;
  outline: none;
  margin: 0 20px;
}
#sidebarCollapse:hover {
  color: #2abdfc;
  background: #fff;
  outline: none;

}.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}#sidebar {
    min-width: 250px;
    max-width: 250px;
    margin-top: 70px;
    background: #071A33;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active{
	margin-left: -250px;
}

#sidebar .sidebar-header{
	padding: 10px;
	background: #071A33;
  bottom: auto;
}
#sidebar ul.components{
	padding: 20px 0px;
}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px 10px 10px 20px;
	font-size: 1.1em;
	display: block;
    color: #fff;
    font-weight: bold;
}
#sidebar ul li a:hover {
    color: black;
    background: #50E3C2;
    border: black, ;
    text-decoration: none; 
 }
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #8a5fff;
} 
a[data-toggle="collapse"] {
    position: relative;
}


#content {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 110px;
}
@media (max-width:800px) {
  #sidebar {
    margin-left: -250px;}
  #sidebar.active{
	margin-left: 0px;
  }
  #sidebarCollapse span{
	display: none;
  }
  .card {
    width:100%;
  }
}
@media (max-width:400px) {
  #sidebar {
    margin-top: -20px;
  }
  #logo {
    display: none;
  }

}


.principal{
	margin-top:12px;
	font-family: 'Roboto';
}

/* TARGETAS */


.card-software{
   
	margin:-25px -25px 0px -25px;
    height: 120px;
    left: 20px;
	background: linear-gradient(-90deg, #BF019F, #F28A57);
	/* box-shadow:1px 5px 15px #a2a2a2; */ 
} 
.card-contable{
  margin:-25px -25px 0px -25px;
    height: 120px;
    right: 30pc;
	background:linear-gradient(-90deg, #e5e91d, #cf2f12);
	/* box-shadow:1px 5px 15px #a2a2a2; */
}

.card-general{
  margin:-25px -25px 0px -25px;
    height: 120px;
	background: linear-gradient(-90deg, #11998e, #38ef7d);  
	/* box-shadow:1px 5px 15px #a2a2a2; */
}


.card-mecanica{
  margin:-25px -25px 0px -25px;
    height: 120px;
	background:linear-gradient(-90deg, #3b3836, #F28A57);   
  	/* box-shadow:1px 5px 15px #a2a2a2; */
}


.card-salud{
  margin:-25px -25px 0px -25px;
    height: 120px;
  background: linear-gradient(-90deg, #10e2e9, #1739d3);  
  	/* box-shadow:1px 5px 15px #a2a2a2; */
}

/* /* .card-section-software span i{
	padding:17px;
	margin:0px 10px;
	color:#fff;
	height:50px;
	width:50px;
	box-shadow:1px 6px 24px #d2d2d2;
	background: linear-gradient(-90deg, #11998e, #38ef7d); 
} */

 /* .card-header-third span i:hover,.card-section-software span i:hover{
	box-shadow:1px 1px 15px #000; */


/* efecto shadows para todas las tarjetas
/* .card-section{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
} */
/* Para el efecto sombra al pasar por encima el mouse*/ 
 .card-section:hover{
	box-shadow:1px 1px 20px #d2d2d2;
}